[Unit]
Description = lightweight and customizable notification daemon

[Service]
Type        = simple
Restart     = always
RestartSec  = 1
ExecStart   = /usr/bin/dunst -c /home/ttpearso/.config/dunst/dunstrc

[Install]
WantedBy = user-programs.target

